<!DOCTYPE html>
<html lang = "en">
<head>
    <title>
        eTicketing Platform
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<BODY>
    <div class="navi">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Login.html">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="searchTrain.html">Search Train</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#help">Help</a>
      </ul>
    </div>
    <div class="sectionLeft">
    <h1>INDIAN RAILWAYS</h1>
    <br>
    <h2>SAFETY | SECURITY | PUNCTUALITY</h2>
    </div>
    <div class="sectionLeft">
    <img src="images/index_bg.jpg" >
    </div>
    <div class="belowImage">
        <marquee>Welcome to Indian Railways</marquee>
    </div>
    <div class="liveTrain2">
        <h1>Live Train Status</h1>
        <table align="center"><tr>
            <th>Train no.</th>
            <th>Last station</th>
            <th>Next station</th>
            <th>Time</th>
        </tr>
        </table>
    </div>
</BODY>
</html>