<!DOCTYPE html>
<html lang = "en">
<head>
    <title>
        eTicketing Platform
    </title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.png">
</head>
<BODY>
    <div class="navi">
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="Login.html">Login</a></li>
        <li><a href="#news">Register</a></li>
        <li><a href="searchTrain.html">Search Train</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#help">Help</a>
      </ul>
    </div>
    <div class="sectionLeft">
    <h1>INDIAN RAILWAYS</h1>
    <br>
    <h2>SAFETY | SECURITY | PUNCTUALITY</h2>
    </div>
    <div class="sectionLeft">
    <img src="images/index_bg.jpg" >
    </div>
    <div class="belowImage">
        <marquee>Welcome to Indian Railways</marquee>
    </div>
    <div class="trainChart">
        <h1>Train Chart</h1>
        <table align="center">
            <tr>
            <th>PNR Number</th>
            <th>Passenger name</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Seat No.</th>
            <th>Coach</th>
            <th>Station From</th>
            <th>Departure</th>
            <th>Station to</th>
            <th>Arrival</th>
            </tr>
    </div>
    </BODY>
    </html>
